In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("input/main.csv")

In [3]:
df.head()

,SKU,DESCRIPTION,YEAR,CAPACITY,URL,PRICE,SELLER_INFORMATION,OFFER_DESCRIPTION,COUNTRY
0,11331,"Barbaresco,Angelo Gaja",1990,750ml,https://www.wine-searcher.com/find/barbaresco+...,$295.00,TopWines Switzerland SA,1990Barbaresco Gaja Angelo,Switzerland
1,11331,"Barbaresco,Angelo Gaja",1990,750ml,https://www.wine-searcher.com/find/barbaresco+...,$324.62,Vintage Grand Cru,Gaja Barbaresco1990,Hong Kong
2,11331,"Barbaresco,Angelo Gaja",1990,750ml,https://www.wine-searcher.com/find/barbaresco+...,$329.00,The Redd Collection,"1990Barbaresco,Angelo Gaja",USA (CA)
3,11331,"Barbaresco,Angelo Gaja",1990,750ml,https://www.wine-searcher.com/find/barbaresco+...,$338.68,Wine Walker (HK) Limited,"Gaja Barbaresco,1990,Italy,Piedmont",Hong Kong
4,11331,"Barbaresco,Angelo Gaja",1990,750ml,https://www.wine-searcher.com/find/barbaresco+...,$396.83,Enoteca Properzio,Barbaresco Gaja19900.75lt.,Italy

In [6]:
df_filter = df.loc[df['COUNTRY'] =='USA (CA)']

In [7]:
df_filter.count()

SKU                   1490
DESCRIPTION           1490
YEAR                  1490
CAPACITY              1490
URL                   1490
PRICE                 1490
SELLER_INFORMATION    1490
OFFER_DESCRIPTION     1490
COUNTRY               1490
dtype: int64

In [8]:
df_filter.to_csv('output/filteredCountry.csv')

In [9]:
df = pd.read_csv("output/filteredCountry.csv")

In [4]:
def convert_val(val):
    """
    Convert the string number value to a float
     - Remove $
     - Remove ?
     - Remove commas
     - Convert to float type
    """
    new_val = val.replace(',','').replace('$', '').replace('?','')
    return float(new_val)

In [10]:
df['PRICE'] = df['PRICE'].apply(convert_val)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1490 entries, 0 to 1489
Data columns (total 10 columns):
Unnamed: 0            1490 non-null int64
SKU                   1490 non-null int64
DESCRIPTION           1490 non-null object
YEAR                  1490 non-null int64
CAPACITY              1490 non-null object
URL                   1490 non-null object
PRICE                 1490 non-null float64
SELLER_INFORMATION    1490 non-null object
OFFER_DESCRIPTION     1490 non-null object
COUNTRY               1490 non-null object
dtypes: float64(1), int64(3), object(6)
memory usage: 116.5+ KB

In [11]:
df.head()

,Unnamed: 0,SKU,DESCRIPTION,YEAR,CAPACITY,URL,PRICE,SELLER_INFORMATION,OFFER_DESCRIPTION,COUNTRY
0,2,11331,"Barbaresco,Angelo Gaja",1990,750ml,https://www.wine-searcher.com/find/barbaresco+...,329.00,The Redd Collection,"1990Barbaresco,Angelo Gaja",USA (CA)
1,6,11332,"Barbaresco,Angelo Gaja",2010,750ml,https://www.wine-searcher.com/find/barbaresco+...,175.00,The Redd Collection,"2010Barbaresco,Angelo Gaja",USA (CA)
2,18,11333,"Barbaresco,Costa Russi,Angelo Gaja",2009,750ml,https://www.wine-searcher.com/find/barbaresco+...,304.00,The Redd Collection,"2009Barbaresco,Costa Russi,Angelo Gaja",USA (CA)
3,23,11333,"Barbaresco,Costa Russi,Angelo Gaja",2009,750ml,https://www.wine-searcher.com/find/barbaresco+...,379.00,The Old & Rare Wine Company,Angelo Gaja Costa Russi Langhe2009,USA (CA)
4,24,11333,"Barbaresco,Costa Russi,Angelo Gaja",2009,750ml,https://www.wine-searcher.com/find/barbaresco+...,379.98,Wine House,2009Angelo Gaja Langhe Costa Russi750ml,USA (CA)

In [12]:
df['SKU'].unique()

array([11331, 11332, 11333, 11334, 11335, 11336, 11337, 11338, 11339,
       11340, 11342, 11343, 11344, 11345, 11346, 11347, 11348, 11349,
       11350, 11351, 11352, 11353, 11354, 11355, 11356, 11357, 11358,
       11359, 11360, 11361, 11362, 11363, 11364, 11365, 11366, 11367,
       11368, 11369, 11370, 11371, 11372, 11373, 11374, 11376, 11377,
       11378, 11379, 11380, 11381, 11382, 11383, 11384, 11385, 11386,
       11388, 11389, 11390, 11391, 11392, 11393, 11394, 11395, 11397,
       11398, 11399, 11400, 11401, 11402, 11403, 11404, 11405, 11406,
       11407, 11408, 11409, 11410, 11411, 11412, 11413, 11414, 11415,
       11416, 11417, 11418, 11419, 11420, 11421, 11422, 11423, 11424,
       11425, 11426, 11427, 11428, 11429, 11430, 11431, 11432, 11433,
       11434, 11435, 11436, 11437, 11438, 11439, 11440, 11441, 11442,
       11444, 11445, 11446, 11448, 11449, 11451, 11452, 11453, 11454,
       11455, 11456, 11458, 11459, 11460, 11461, 11462, 11463, 11464,
       11465, 11466, 11467, 11468, 11469, 11470, 11471, 11472, 11473,
       11476, 11477, 11478, 11479, 11480, 11481, 11482, 11483, 11484,
       11485, 11486, 11487, 11488, 11489, 11491, 11492, 11493, 11494,
       11495, 11496, 11497, 11498, 11499, 11500, 11501, 11502, 11503,
       11505, 11506, 11507, 11508, 11509, 11510, 11511, 11512, 11513,
       11514, 11515, 11516, 11517, 11518, 11519, 11520, 11522, 11523,
       11524, 11525, 11526, 11527, 11528, 11529, 11530, 11531, 11532,
       11533, 11534, 11535, 11536, 11537, 11539, 11540, 11541, 11542,
       11543, 11544, 11545, 11546, 11547, 11548, 11549, 11550, 11551,
       11552, 11553, 11554, 11555, 11556, 11557, 11559, 11560, 11561,
       11562, 11563, 11564, 11565, 11566, 11567, 11568, 11570, 11571,
       11572, 11573, 11574, 11575, 11576, 11577, 11578, 11579, 11580,
       11581, 11582, 11583, 11584, 11585, 11586, 11587, 11588, 11589,
       11590, 11592, 11593, 11594, 11595, 11596, 11597, 11598, 11599,
       11600, 11601, 11602, 11603, 11604, 11605, 11606, 11607, 11608,
       11609, 11610, 11611, 11612, 11613, 11614, 11615, 11616, 11617,
       11618, 11619, 11620, 11621, 11622, 11624, 11625], dtype=int64)

In [13]:
df['SKU'].nunique()

277

In [45]:
df_minprice =df.groupby('SKU').min()['PRICE']

In [15]:
df1 = df.groupby("SKU").apply(lambda x: x.nsmallest(2,'PRICE'))

In [16]:
df1[1:15]

          Unnamed: 0    SKU                              DESCRIPTION  YEAR  \
SKU
11332 1            6  11332                   Barbaresco,Angelo Gaja  2010
11333 2           18  11333       Barbaresco,Costa Russi,Angelo Gaja  2009
      3           23  11333       Barbaresco,Costa Russi,Angelo Gaja  2009
11334 5           37  11334  Barbaresco,Sori San Lorenzo,Angelo Gaja  2000
      6           39  11334  Barbaresco,Sori San Lorenzo,Angelo Gaja  2000
11335 10          52  11335       Barbaresco,Sori Tildin,Angelo Gaja  2009
      11          53  11335       Barbaresco,Sori Tildin,Angelo Gaja  2009
11336 14          72  11336       Barbaresco,Sori Tildin,Angelo Gaja  2010
      15          74  11336       Barbaresco,Sori Tildin,Angelo Gaja  2010
11337 21         107  11337       Barbaresco,Sori Tildin,Angelo Gaja  2010
      22         109  11337       Barbaresco,Sori Tildin,Angelo Gaja  2010
11338 28         137  11338   Barolo Bussia Colonnello,Aldo Conterno  1989
      29         140  11338   Barolo Bussia Colonnello,Aldo Conterno  1989
11339 30         142  11339   Barolo Bussia Colonnello,Aldo Conterno  1990

         CAPACITY                                                URL  PRICE  \
SKU
11332 1     750ml  https://www.wine-searcher.com/find/barbaresco+...  175.0
11333 2     750ml  https://www.wine-searcher.com/find/barbaresco+...  304.0
      3     750ml  https://www.wine-searcher.com/find/barbaresco+...  379.0
11334 5     750ml  https://www.wine-searcher.com/find/barbaresco+...  339.0
      6     750ml  https://www.wine-searcher.com/find/barbaresco+...  348.0
11335 10    750ml  https://www.wine-searcher.com/find/barbaresco+...  304.0
      11    750ml  https://www.wine-searcher.com/find/barbaresco+...  315.0
11336 14     1.5L  https://www.wine-searcher.com/find/barbaresco+...  395.0
      15     1.5L  https://www.wine-searcher.com/find/barbaresco+...  455.0
11337 21    750ml  https://www.wine-searcher.com/find/barbaresco+...  395.0
      22    750ml  https://www.wine-searcher.com/find/barbaresco+...  455.0
11338 28    750ml  https://www.wine-searcher.com/find/barolo+buss...  156.0
      29    750ml  https://www.wine-searcher.com/find/barolo+buss...  278.0
11339 30    750ml  https://www.wine-searcher.com/find/barolo+buss...  266.0

                   SELLER_INFORMATION  \
SKU
11332 1           The Redd Collection
11333 2           The Redd Collection
      3   The Old & Rare Wine Company
11334 5                     SommPicks
      6           The Redd Collection
11335 10          The Redd Collection
      11              Westgarth Wines
11336 14       European Wine Resource
      15              Westgarth Wines
11337 21       European Wine Resource
      22              Westgarth Wines
11338 28       Spectrum Wine Auctions
      29          The Redd Collection
11339 30          The Redd Collection

                                          OFFER_DESCRIPTION   COUNTRY
SKU
11332 1                          2010Barbaresco,Angelo Gaja  USA (CA)
11333 2              2009Barbaresco,Costa Russi,Angelo Gaja  USA (CA)
      3                  Angelo Gaja Costa Russi Langhe2009  USA (CA)
11334 5           2000Gaja Langhe Nebbiolo Sori San Lorenzo  USA (CA)
      6         2000Barbaresco,Sori San Lorenzo,Angelo Gaja  USA (CA)
11335 10             2009Barbaresco,Sori Tildin,Angelo Gaja  USA (CA)
      11                               2009Gaja,Sori Tildin  USA (CA)
11336 14                               2010Gaja-Sori Tildin  USA (CA)
      15                               2010Gaja,Sori Tildin  USA (CA)
11337 21                               2010Gaja-Sori Tildin  USA (CA)
      22                               2010Gaja,Sori Tildin  USA (CA)
11338 28  [lot78355]Aldo Conterno Barolo Bricco Bussia V...  USA (CA)
      29         1989Barolo Bussia Colonnello,Aldo Conterno  USA (CA)
11339 30         1990Barolo Bussia Colonnello,Aldo Conterno  USA (CA)

In [17]:
df2 = df1.loc[:, ['SUK','PRICE']]

D:\anaconda\lib\site-packages\pandas\core\indexing.py:910: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_nested_tuple(tup)

In [18]:
df2 = df2.drop(['SUK'],axis=1)

In [19]:
df_secminprice =df2.groupby('SKU').max()['PRICE']

In [50]:
df_secminprice.head()

SKU
11331    329.0
11332    175.0
11333    379.0
11334    348.0
11335    315.0
Name: PRICE, dtype: float64

In [62]:
df_minprice.head()

SKU
11331    329.0
11332    175.0
11333    304.0
11334    339.0
11335    304.0
Name: PRICE, dtype: float64

In [56]:
df4 = df_secminprice.to_frame("SECOND_MINIMUM_PRICE")["SECOND_MINIMUM_PRICE"]

In [57]:
df3 = df_minprice.to_frame("FIRST_MINIMUM_PRICE")["FIRST_MINIMUM_PRICE"]

In [60]:
df_final = pd.concat([df3,df4], axis=1)

In [93]:
df_final = df_final[df_final['FIRST_MINIMUM_PRICE'] != df_final['SECOND_MINIMUM_PRICE']]
# df5 = df_final.drop_duplicates(subset=['FIRST_MINIMUM_PRICE','SECOND_MINIMUM_PRICE'])

In [94]:
df_final.head()

       FIRST_MINIMUM_PRICE  SECOND_MINIMUM_PRICE
SKU
11333                304.0                 379.0
11334                339.0                 348.0
11335                304.0                 315.0
11336                395.0                 455.0
11337                395.0                 455.0

In [95]:
df_final.to_csv('output/lowestPrice.csv')