In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("input/main.csv")

In [7]:
df['COUNTRY'].unique()

array(['Switzerland', 'Hong Kong', 'USA (CA)', 'Italy', 'Austria', 'UK',
       'Netherlands', 'USA (MA)', 'New Zealand', 'USA (NJ)', 'USA (NY)',
       'Australia', 'USA (RI)', 'Spain', 'USA (CT)', 'USA (TX)',
       'Germany', 'USA (OH)', 'Belgium', 'France', 'Singapore',
       'USA (FL)', 'USA (IL)', 'USA (DC)', 'USA (WA)', 'USA (IN)',
       'China', 'USA (NV)', 'USA (CO)', 'Canada', 'Portugal', 'USA (MN)',
       'Japan', 'Luxembourg', 'USA (MI)', 'USA (MO)',
       'United Arab Emirates', 'Taiwan', 'USA (VA)', 'USA (OR)',
       'USA (TN)', 'USA (PA)'], dtype=object)

In [3]:
df.head()

,SKU,DESCRIPTION,YEAR,CAPACITY,URL,PRICE,SELLER_INFORMATION,OFFER_DESCRIPTION,COUNTRY
0,11331,"Barbaresco,Angelo Gaja",1990,750ml,https://www.wine-searcher.com/find/barbaresco+...,$295.00,TopWines Switzerland SA,1990Barbaresco Gaja Angelo,Switzerland
1,11331,"Barbaresco,Angelo Gaja",1990,750ml,https://www.wine-searcher.com/find/barbaresco+...,$324.62,Vintage Grand Cru,Gaja Barbaresco1990,Hong Kong
2,11331,"Barbaresco,Angelo Gaja",1990,750ml,https://www.wine-searcher.com/find/barbaresco+...,$329.00,The Redd Collection,"1990Barbaresco,Angelo Gaja",USA (CA)
3,11331,"Barbaresco,Angelo Gaja",1990,750ml,https://www.wine-searcher.com/find/barbaresco+...,$338.68,Wine Walker (HK) Limited,"Gaja Barbaresco,1990,Italy,Piedmont",Hong Kong
4,11331,"Barbaresco,Angelo Gaja",1990,750ml,https://www.wine-searcher.com/find/barbaresco+...,$396.83,Enoteca Properzio,Barbaresco Gaja19900.75lt.,Italy

In [10]:
df_filter = df.loc[df.COUNTRY.str.startswith('USA')]

In [11]:
df_filter.count()

SKU                   3030
DESCRIPTION           3030
YEAR                  3030
CAPACITY              3030
URL                   3030
PRICE                 3030
SELLER_INFORMATION    3030
OFFER_DESCRIPTION     3030
COUNTRY               3030
dtype: int64

In [12]:
df_filter.to_csv('output/filteredCountry.csv')

In [13]:
df = pd.read_csv("output/filteredCountry.csv")

In [14]:
def convert_val(val):
    """
    Convert the string number value to a float
     - Remove $
     - Remove ?
     - Remove commas
     - Convert to float type
    """
    new_val = val.replace(',','').replace('$', '').replace('?','')
    return float(new_val)

In [15]:
df['PRICE'] = df['PRICE'].apply(convert_val)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3030 entries, 0 to 3029
Data columns (total 10 columns):
Unnamed: 0            3030 non-null int64
SKU                   3030 non-null int64
DESCRIPTION           3030 non-null object
YEAR                  3030 non-null int64
CAPACITY              3030 non-null object
URL                   3030 non-null object
PRICE                 3030 non-null float64
SELLER_INFORMATION    3030 non-null object
OFFER_DESCRIPTION     3030 non-null object
COUNTRY               3030 non-null object
dtypes: float64(1), int64(3), object(6)
memory usage: 236.8+ KB

In [16]:
df.head()

,Unnamed: 0,SKU,DESCRIPTION,YEAR,CAPACITY,URL,PRICE,SELLER_INFORMATION,OFFER_DESCRIPTION,COUNTRY
0,2,11331,"Barbaresco,Angelo Gaja",1990,750ml,https://www.wine-searcher.com/find/barbaresco+...,329.00,The Redd Collection,"1990Barbaresco,Angelo Gaja",USA (CA)
1,6,11332,"Barbaresco,Angelo Gaja",2010,750ml,https://www.wine-searcher.com/find/barbaresco+...,175.00,The Redd Collection,"2010Barbaresco,Angelo Gaja",USA (CA)
2,18,11333,"Barbaresco,Costa Russi,Angelo Gaja",2009,750ml,https://www.wine-searcher.com/find/barbaresco+...,304.00,The Redd Collection,"2009Barbaresco,Costa Russi,Angelo Gaja",USA (CA)
3,22,11333,"Barbaresco,Costa Russi,Angelo Gaja",2009,750ml,https://www.wine-searcher.com/find/barbaresco+...,359.99,Lynnway Liquor Mart,Gaja Costa Russi Barbaresco20092009750ml,USA (MA)
4,23,11333,"Barbaresco,Costa Russi,Angelo Gaja",2009,750ml,https://www.wine-searcher.com/find/barbaresco+...,379.00,The Old & Rare Wine Company,Angelo Gaja Costa Russi Langhe2009,USA (CA)

In [17]:
df['SKU'].unique()

array([11331, 11332, 11333, 11334, 11335, 11336, 11337, 11338, 11339,
       11340, 11341, 11342, 11343, 11344, 11345, 11346, 11347, 11348,
       11349, 11350, 11351, 11352, 11353, 11354, 11355, 11356, 11357,
       11358, 11359, 11360, 11361, 11362, 11363, 11364, 11365, 11366,
       11367, 11368, 11369, 11370, 11371, 11372, 11373, 11374, 11376,
       11377, 11378, 11379, 11380, 11381, 11382, 11383, 11384, 11385,
       11386, 11388, 11389, 11390, 11391, 11392, 11393, 11394, 11395,
       11397, 11398, 11399, 11400, 11401, 11402, 11403, 11404, 11405,
       11406, 11407, 11408, 11409, 11410, 11411, 11412, 11413, 11414,
       11415, 11416, 11417, 11418, 11419, 11420, 11421, 11422, 11423,
       11424, 11425, 11426, 11427, 11428, 11429, 11430, 11431, 11432,
       11433, 11434, 11435, 11436, 11437, 11438, 11439, 11440, 11441,
       11442, 11444, 11445, 11446, 11448, 11449, 11451, 11452, 11453,
       11454, 11455, 11456, 11458, 11459, 11460, 11461, 11462, 11463,
       11464, 11465, 11466, 11467, 11468, 11469, 11470, 11471, 11472,
       11473, 11476, 11477, 11478, 11479, 11480, 11481, 11482, 11483,
       11484, 11485, 11486, 11487, 11488, 11489, 11491, 11492, 11493,
       11494, 11495, 11496, 11497, 11498, 11499, 11500, 11501, 11502,
       11503, 11505, 11506, 11507, 11508, 11509, 11510, 11511, 11512,
       11513, 11514, 11515, 11516, 11517, 11518, 11519, 11520, 11522,
       11523, 11524, 11525, 11526, 11527, 11528, 11529, 11530, 11531,
       11532, 11533, 11534, 11535, 11536, 11537, 11539, 11540, 11541,
       11542, 11543, 11544, 11545, 11546, 11547, 11548, 11549, 11550,
       11551, 11552, 11553, 11554, 11555, 11556, 11557, 11559, 11560,
       11561, 11562, 11563, 11564, 11565, 11566, 11567, 11568, 11570,
       11571, 11572, 11573, 11574, 11575, 11576, 11577, 11578, 11579,
       11580, 11581, 11582, 11583, 11584, 11585, 11586, 11587, 11588,
       11589, 11590, 11592, 11593, 11594, 11595, 11596, 11597, 11598,
       11599, 11600, 11601, 11602, 11603, 11604, 11605, 11606, 11607,
       11608, 11609, 11610, 11611, 11612, 11613, 11614, 11615, 11616,
       11617, 11618, 11619, 11620, 11621, 11622, 11624, 11625],
      dtype=int64)

In [18]:
df['SKU'].nunique()

278

In [19]:
df_minprice =df.groupby('SKU').min()['PRICE']

In [20]:
df1 = df.groupby("SKU").apply(lambda x: x.nsmallest(2,'PRICE'))

In [21]:
df1[1:15]

          Unnamed: 0    SKU                              DESCRIPTION  YEAR  \
SKU
11332 1            6  11332                   Barbaresco,Angelo Gaja  2010
11333 2           18  11333       Barbaresco,Costa Russi,Angelo Gaja  2009
      3           22  11333       Barbaresco,Costa Russi,Angelo Gaja  2009
11334 8           36  11334  Barbaresco,Sori San Lorenzo,Angelo Gaja  2000
      9           37  11334  Barbaresco,Sori San Lorenzo,Angelo Gaja  2000
11335 16          52  11335       Barbaresco,Sori Tildin,Angelo Gaja  2009
      17          53  11335       Barbaresco,Sori Tildin,Angelo Gaja  2009
11336 21          68  11336       Barbaresco,Sori Tildin,Angelo Gaja  2010
      22          69  11336       Barbaresco,Sori Tildin,Angelo Gaja  2010
11337 32         103  11337       Barbaresco,Sori Tildin,Angelo Gaja  2010
      33         104  11337       Barbaresco,Sori Tildin,Angelo Gaja  2010
11338 43         137  11338   Barolo Bussia Colonnello,Aldo Conterno  1989
      44         140  11338   Barolo Bussia Colonnello,Aldo Conterno  1989
11339 46         142  11339   Barolo Bussia Colonnello,Aldo Conterno  1990

         CAPACITY                                                URL   PRICE  \
SKU
11332 1     750ml  https://www.wine-searcher.com/find/barbaresco+...  175.00
11333 2     750ml  https://www.wine-searcher.com/find/barbaresco+...  304.00
      3     750ml  https://www.wine-searcher.com/find/barbaresco+...  359.99
11334 8     750ml  https://www.wine-searcher.com/find/barbaresco+...  329.00
      9     750ml  https://www.wine-searcher.com/find/barbaresco+...  339.00
11335 16    750ml  https://www.wine-searcher.com/find/barbaresco+...  304.00
      17    750ml  https://www.wine-searcher.com/find/barbaresco+...  315.00
11336 21     1.5L  https://www.wine-searcher.com/find/barbaresco+...  334.00
      22     1.5L  https://www.wine-searcher.com/find/barbaresco+...  364.99
11337 32    750ml  https://www.wine-searcher.com/find/barbaresco+...  334.00
      33    750ml  https://www.wine-searcher.com/find/barbaresco+...  364.99
11338 43    750ml  https://www.wine-searcher.com/find/barolo+buss...  156.00
      44    750ml  https://www.wine-searcher.com/find/barolo+buss...  278.00
11339 46    750ml  https://www.wine-searcher.com/find/barolo+buss...  266.00

              SELLER_INFORMATION  \
SKU
11332 1      The Redd Collection
11333 2      The Redd Collection
      3      Lynnway Liquor Mart
11334 8            IronGate.Wine
      9                SommPicks
11335 16     The Redd Collection
      17         Westgarth Wines
11336 21          Yankee Spirits
      22     Stirling Fine Wines
11337 32          Yankee Spirits
      33     Stirling Fine Wines
11338 43  Spectrum Wine Auctions
      44     The Redd Collection
11339 46     The Redd Collection

                                          OFFER_DESCRIPTION   COUNTRY
SKU
11332 1                          2010Barbaresco,Angelo Gaja  USA (CA)
11333 2              2009Barbaresco,Costa Russi,Angelo Gaja  USA (CA)
      3            Gaja Costa Russi Barbaresco20092009750ml  USA (MA)
11334 8                     2000Gaja Sori San Lorenzo-750mL  USA (NY)
      9           2000Gaja Langhe Nebbiolo Sori San Lorenzo  USA (CA)
11335 16             2009Barbaresco,Sori Tildin,Angelo Gaja  USA (CA)
      17                               2009Gaja,Sori Tildin  USA (CA)
11336 21                 GAJASORITILDINLANGHEBARBARESCO2010  USA (MA)
      22               Gaja Sori Tildin2010,Piedmont,Langhe  USA (NJ)
11337 32                 GAJASORITILDINLANGHEBARBARESCO2010  USA (MA)
      33               Gaja Sori Tildin2010,Piedmont,Langhe  USA (NJ)
11338 43  [lot78355]Aldo Conterno Barolo Bricco Bussia V...  USA (CA)
      44         1989Barolo Bussia Colonnello,Aldo Conterno  USA (CA)
11339 46         1990Barolo Bussia Colonnello,Aldo Conterno  USA (CA)

In [22]:
df2 = df1.loc[:, ['SUK','PRICE']]

D:\anaconda\lib\site-packages\pandas\core\indexing.py:910: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_nested_tuple(tup)

In [23]:
df2 = df2.drop(['SUK'],axis=1)

In [24]:
df_secminprice =df2.groupby('SKU').max()['PRICE']

In [25]:
df_secminprice.head()

SKU
11331    329.00
11332    175.00
11333    359.99
11334    339.00
11335    315.00
Name: PRICE, dtype: float64

In [26]:
df_minprice.head()

SKU
11331    329.0
11332    175.0
11333    304.0
11334    329.0
11335    304.0
Name: PRICE, dtype: float64

In [27]:
df4 = df_secminprice.to_frame("SECOND_MINIMUM_PRICE")["SECOND_MINIMUM_PRICE"]

In [28]:
df3 = df_minprice.to_frame("FIRST_MINIMUM_PRICE")["FIRST_MINIMUM_PRICE"]

In [29]:
df_final = pd.concat([df3,df4], axis=1)

In [30]:
df_final = df_final[df_final['FIRST_MINIMUM_PRICE'] != df_final['SECOND_MINIMUM_PRICE']]
# df5 = df_final.drop_duplicates(subset=['FIRST_MINIMUM_PRICE','SECOND_MINIMUM_PRICE'])

In [32]:
df_final.head()

       FIRST_MINIMUM_PRICE  SECOND_MINIMUM_PRICE
SKU
11333                304.0                359.99
11334                329.0                339.00
11335                304.0                315.00
11336                334.0                364.99
11337                334.0                364.99

In [33]:
df_final.to_csv('output/lowestPrice.csv')